body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background-color: #FC6A03;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header .title {
    font-size: 1.5rem;
    font-weight: bold;
}

.header .profile {
    display: flex;
    align-items: center;
}

.header .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

/* Sidebar */
.sidebar {
    background-color: #333;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    z-index: 999;
    scrollbar-width: thin;
    scrollbar-color: #888 #333;
}

/* Scrollbar styling for Webkit browsers */
.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.sidebar.hidden {
    transform: translateX(-250px);
}

.sidebar h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.sidebar .menu-item {
    margin-bottom: 10px;
}

.sidebar .menu-item a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    background-color: #343a40;
}

.sidebar .menu-item a:hover {
    background-color: #444;
}

/* Content */
.content {
    margin-left: 250px;
    padding: 20px;
    margin-top: 10px;
    transition: margin-left 0.3s ease-in-out;
}

/* Responsive */
@media (max-width: 768px) {
    .sidebar {
        width: 250px;
        transform: translateX(-250px);
        position: fixed;
        z-index: 9999;
    }

    .sidebar.visible {
        transform: translateX(0);
    }

    .content {
        margin-left: 0;
    }

    .toggle-sidebar {
        display: block;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }

    .toggle-sidebar.close {
        display: none;
    }

    .header .title {
        flex-grow: 1;
        text-align: center;
    }
}

/* Hamburger Icon Style */
.hamburger-menu {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }
}
